.card {
  max-width: 570px;
  margin: 0 auto;
}

.bottom-button {
  margin-top: 10px;
  margin-bottom: 30px;
}

.login-action-container {
  text-align: center
}

.action-container {
  text-align: right;
}

.card {
  margin-top: 40px;
}

.form-error {
  color:rgb(244, 67, 54);
}