.container {
  max-width: 570px;
  margin: 0 auto;
  margin-top: 20px;
}

.bottom-button {
  margin-top: 10px;
  margin-bottom: 30px;
}

.login-action-container {
  text-align: center
}

.action-container {
  text-align: right;
}

.form-error {
  color:rgb(244, 67, 54);
}

.list-header {
  padding-bottom: .3em;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.334;
  border-bottom: 1px solid #eee;
  color: rgba(0,0,0,.87);
}

.list-container {
  margin-bottom: 30px;
}

.add-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
}